.contener {
    background-color: #f1f1f1;
    padding: 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contener h3 {
    border-left: 4px solid black;
    border-bottom: 1px solid black;
}

.menu-01 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 200px;

}

.menu-01 a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-01 a:hover {
    background-color: black;
    color: #f1f1f1;

}



.menu-02 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #696969;
    width: 200px;
}

.menu-02 a {
    display: block;
    color: aliceblue;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-left: 4px solid black;
}

.menu-02 a:hover {
    background-color: black;
    color: #D3D3D3;
    border-right: 4px solid black;
}



.menu-03 ul {
    list-style: none;

    margin: 0;
    padding: 0;
    background-color: aliceblue;
    width: 200px;
}

.menu-03 a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid SteelBlue;
    border-left: 8px solid SteelBlue;

}

.menu-03 a:hover {
    text-align: right;
    background-color: aliceblue;
    color: cornflowerblue;
    border-right: 4px solid black;
}

.menu-04 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}


.menu-04 a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-right: 4px solid DarkViolet;
    border-left: 4px solid DarkViolet;
    border-radius: 29px;
    background-color: #BA55D3;

}

.menu-04 a:hover {
    list-style: none;
    background-color: aliceblue;
    color: cornflowerblue;
    border-right: 4px solid DarkViolet;
}


.menu-05 ul {
    list-style: none;

    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    width: 200px;
}

.menu-05 a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;


}

.menu-05 a:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}